@import "../../../../../app.component";
.slider-laptop {
    display: contents !important;
  }
  
  .slider-phone,
  .slider-tablet {
    display: none !important;
  }
  
  @include for-size("phone-sm") {
    .slider-laptop {
      display: none !important;
    }
    .slider-phone {
      display: contents !important;
    }
  }
  
  /* Adjusted breakpoint for larger phones and tablets */
//   @include for-size("tablet") {
//     .slider-laptop,
//     .slider-phone {
//       display: none !important;
//     }
//     .slider-tablet {
//       display: contents !important;
//     }
//   }
  