<div class="related-product card shadow " style="padding: 10px;">
    <h4 style="font-family: sans-serif;font-weight: bold; ">Sản Phẩm Tương Tự</h4>
    <div class="items-related" style="align-items: center;">
        <div class="slider-laptop"
            style="background-color: white; padding: 10px; border-radius: 10px; display: flex; flex-direction: column;">
            <p-carousel [value]="products" [numVisible]="5" [numScroll]="products?.length  <= 5 ? 0 : 1"
                [showIndicators]="false" [showNavigators]="products?.length  <= 5 ? false : true"
                [autoplayInterval]="2000" [circular]="true" [style.width.%]="100" [style.max-width.px]="1200">
                <ng-template let-product pTemplate="item">
                    <app-product-item [product]="product"></app-product-item>
                </ng-template>
            </p-carousel>
        </div>
        <div class="slider-phone"
            style="background-color: white; padding: 10px; border-radius: 10px; display: flex; flex-direction: column;">
            <p-carousel [value]="products" [numVisible]="2" [numScroll]="products?.length  <= 2 ? 0 : 1"
                [showIndicators]="false" [showNavigators]=" products?.length  <= 2 ? false : true"
                [autoplayInterval]="2000" [circular]="true">
                <ng-template let-product pTemplate="item">
                    <app-product-item [product]="product"></app-product-item>
                </ng-template>
            </p-carousel>
        </div>
        <!-- <div class="slider-tablet"
            style="background-color: white; padding: 10px; border-radius: 10px; display: flex; flex-direction: column;">
            <p-carousel [value]="products" [numVisible]="4" [numScroll]="products?.length  <= 4 ? 0 : 1"
                [showIndicators]="false" [showNavigators]=" products?.length  <= 4 ? false : true"
                [autoplayInterval]="2000" [circular]="true">
                <ng-template let-product pTemplate="item">
                    <app-product-item [product]="product"></app-product-item>
                </ng-template>
            </p-carousel>
        </div> -->
    </div>
</div>