<div class="slide-comment">
  <h1 class="comment-title " *ngIf=" bestReview != null">Nhận Xét Khách Hàng</h1>
  <div class="normal p-2 mt-2">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-interval="1000">
      <div class="carousel-inner slider-bar__avatar--link">
        <div class="carousel-item active" >
          <div class="d-flex comment-container"
               style="justify-content: center; align-items: center;">
            <div class="m-2" *ngFor="let comment of bestReview?.slice(0,2)" style="display: flex; gap: 20px;">
              <div class="avatar" style="border-radius: 50%;">
                <img src="{{comment?.avatar?.path}}" style="height: 128px; width: 128px; border-radius: 50%;">
              </div>
              <div class="comment-details" style="width: 402px; height: 168px">
                <div style="display: flex; flex-direction: column; padding-bottom: 10px;">
                  <span class="mt-1" style="font-size: 16px;"><strong>{{comment?.customer_name}}</strong></span>
                  <span class="mt-1" style="font-size: 14px;">{{comment?.job_name}}</span>
                </div>
                <span style="font-size: 14px;">{{comment?.content}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item" >
          <div class="d-flex comment-container"
               style="justify-content: center; align-items: center;">
            <div class="m-2"  *ngFor="let comment of bestReview?.slice(2,4)" style="display: flex; gap: 20px;">
              <div class="avatar" style="border-radius: 50%;">
                <img src="{{comment?.avatar?.path}}" style="height: 128px; width: 128px; border-radius: 50%;">
              </div>
              <div class="comment-details" style="width: 402px; height: 168px">
                <div style="display: flex; flex-direction: column; padding-bottom: 10px;">
                  <span class="mt-1" style="font-size: 16px;"><strong>{{comment?.customer_name}}</strong></span>
                  <span class="mt-1" style="font-size: 14px;">{{comment?.job_name}}</span>
                </div>
                <span style="font-size: 14px;">{{comment?.content}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="phone-mode" style="overflow: scroll; gap: 20px; ">
    <div class="phone-mode-item" *ngFor="let comment of bestReview">
      <div class="phone card shadow"
           style="display: flex; gap: 20px;flex-direction: row; padding: 10px; height: 200px;align-items: center;">
        <div class="avatar" style="width: 300px; border-radius: 50%;">
          <img src="{{comment?.avatar?.path}}" class="d-block w-100"
               style="height: auto; width: 100%; border-radius: 50%;">
        </div>
        <div class="comment-details">
          <div style="display: flex; flex-direction: column; padding-bottom: 10px;">
            <span class="mt-1" style="font-size: 16px;"><strong>{{comment?.customer_name}}</strong></span>
            <span class="mt-1" style="font-size: 14px;">{{comment?.job_name}}</span>
          </div>
          <span style="font-size: 14px;">{{comment?.content}}</span>
        </div>
      </div>
    </div>

  </div>
</div>
