<app-slide-product [advertiseCategories]="advertiseCategories"></app-slide-product>
<div class="order-success">
    <div class="order-success__detail card shadow" style=" display: flex; flex-direction: column; gap: 30px;">
        <div class="order-success__logo-success" style="">
            <img src="../../../../assets/img/success.png" style="height: auto;width: 100px;">
            <div>Cảm ơn <span style="font-weight: bold;">{{order?.customer?.gender}} {{order?.customer?.name}}</span> đã
                mua sắm tại Mi3s Việt Nam</div>
            <div>Anh/chị vui lòng thanh toán số tiền <span style="font-weight: bold;">{{totalPrice |
                    CustomeCurrency}}₫</span> cho nhân viên
                giao hàng khi nhận hàng.</div>
        </div>
        <div class="order-success__info-order"
            style="margin-left: auto;margin-right: auto; display: flex; flex-direction: column ; gap: 30px;">
            <div class="recive-at-home" *ngIf="isReciveAtHome">
                <span>{{order?.payment_method}}</span>
            </div>
            <div class="recive-at-home">
                <span>{{order?.is_received_in_store ? 'Nhận sản phẩm tại cửa hàng' : 'Nhận sản phẩm tại nhà'}}</span>
            </div>
            <div class="bank-pay" *ngIf="isPayThroughBank">
                <table>
                    <tr>
                        <td colspan="2"
                            style="height: 50px; font-family: sans-serif;font-weight: bold; text-align: center; border: 1px solid #cccccc;">
                            Thông tin chuyển khoản
                        </td>
                    </tr>
                    <tr style="background-color: white;">
                        <td style="border: 1px solid #cccccc; font-weight: bold;">
                            <img src="../../../../assets/img/qr-payment.jpg" style="width: 250px">
                        </td>
                        <td style="height: 50px;border: 1px solid #cccccc;" class="normal-mode">
                            <div class="info-bank"
                                style="display: flex; flex-direction: column;font-family: sans-serif; font-size: 24px; gap: 20px;">
                                <div style="font-weight: bold;line-height: 1.5;">STK: <span style="font-weight: initial;line-height: 1.5;">5989899999</span></div>
                                <div style="font-weight: bold;line-height: 1.5;">Chủ tài khoản: <span style="font-weight: initial;line-height: 1.5;">PHAN TUAN ANH</span></div>
                                <div style="font-weight: bold;line-height: 1.5;">Chi Nhánh: <span
                                        style="font-weight: initial;">Ngân hàng thương mại cổ phần Ngoại thương Việt Nam
                                        (VIETCOMBANK)</span></div>
                                <div style="font-weight: bold; line-height: 1.5;">Nội dung chuyển khoản: <span
                                        style="font-weight: initial;">chuyen khoan don hang {{order?.id}}</span></div>
                            </div>
                        </td>
                    </tr>
                    <tr class="phone-mode"style="background-color: white;">
                        <td style="height: 50px;border: 1px solid #cccccc;">
                            <div class="info-bank"
                                style="display: flex; flex-direction: column;font-family: sans-serif; font-size: 24px; gap: 20px;">
                                <div style="font-weight: bold;">STK: <span style="font-weight: initial;">5989899999</span></div>
                                <div style="font-weight: bold;">Chủ tài khoản: <span style="font-weight: initial;">PHAN TUAN ANH</span></div>
                                <div style="font-weight: bold;line-height: 1.5;">Chi Nhánh: <span
                                        style="font-weight: initial;">Ngân hàng thương mại cổ phần Ngoại thương Việt Nam
                                        (Vietcombank)</span></div>
                                <div style="font-weight: bold;">Nội dung chuyển khoản: <span
                                        style="font-weight: initial;">chuyen khoan don hang {{order?.id}}</span></div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="paid-by-momo" *ngIf="isPayByMomo">
                <div class="paid-momo" style="display: flex; flex-direction: column; gap: 30px;">
                    <div class="title-momo"
                        style="display: flex; flex-direction: column; align-items: center; gap: 10px;">
                        <span style="font-weight: bold; font-size: 18px;">Quét mã để thanh toán</span>
                        <div>
                            <img src="../../../../assets/img/momoIcon.png">
                        </div>
                    </div>
                    <div class="info-momo" style="display: flex; flex-direction: column; gap: 10px; text-align: center; background-color: #FEEFB3; color: #9F6000 ; padding: 20px;" >
                        <div style="font-weight: initial;">Người nhận: <span style="font-weight: bold;">0942318388
                                99</span></div>
                        <div style="font-weight: initial;">Số điện thoại <span style="font-weight: bold;">0942318388</span></div>
                        <div style="font-weight: initial;">Số tiền: <span
                                style="font-weight: bold;">{{totalPrice |CustomeCurrency}} ₫</span></div>
                        <div style="font-weight: initial;">Ghi chú chuyển tiền bạn ghi mã đơn hàng: <span
                                style="font-weight: bold;">{{order?.id}}</span></div>
                    </div>
                    <div class="qr-momo" style="display: flex;align-items: center; flex-direction: column;">
                        <div class="qr-scan">
                            <img src="../../../../assets/img/momoQR.png">
                        </div>
                    </div>
                </div>
            </div>

            <table style="background-color: white;">
                <tr>
                    <td colspan="2"
                        style="height: 50px; font-family: sans-serif;font-weight: bold; text-align: center; border: 1px solid #cccccc;">
                        Chi tiết đơn hàng</td>
                </tr>
                <tr style="background-color: white;">


                    <td style="border: 1px solid #cccccc;width: 250px; font-weight: bold;">Sản Phẩm</td>
                    <td style="height: 50px; border: 1px solid #cccccc; font-weight: bold;">Tổng</td>
                </tr>
                <tr *ngFor="let orderDetail of order.product_order_list" style="background-color: white;">
                    <td style="height: 50px;border: 1px solid #cccccc;">{{orderDetail.product.name}} x
                        {{orderDetail.quantity}}</td>
                    <td style="width: 400px;height: 50px;border: 1px solid #cccccc;">
                        {{ (getSelectedPrice(orderDetail) *
                        orderDetail.quantity) | CustomeCurrency}} ₫
                    </td>
                </tr>
            </table>

        </div>
        <div class="order-success__info-order__more" style="margin-left: auto;margin-right: auto;">
            <table>
                <tr>
                    <td colspan="2"
                        style="height: 50px; font-family: sans-serif;font-weight: bold; text-align: center;  border: 1px solid #e5e5e5;">
                        Thông tin thêm</td>
                </tr>
                <tr>
                    <td style="height: 50px;width: 400px; border: 1px solid #e5e5e5;padding: 8px;">Mã đơn hàng:</td>
                    <td style="height: 50px; border: 1px solid #e5e5e5;font-weight: bold; padding: 8px;">{{order?.id}}
                    </td>
                </tr>
                <tr>
                    <td style="height: 50px;width: 400px; border: 1px solid #e5e5e5;padding: 8px;">Số điện thoại đặt
                        hàng:</td>
                    <td style="height: 50px; border: 1px solid #e5e5e5;font-weight: bold; padding: 8px;">
                        {{order?.customer.phone}}</td>
                </tr>
                <tr>
                    <td style="height: 50px;width: 400px; border: 1px solid #e5e5e5;padding: 8px;">Ngày tạo đơn hàng:
                    </td>
                    <td style="height: 50px; border: 1px solid #e5e5e5;font-weight: bold; padding: 8px;">
                        {{moment(order?.created_date).format('DD-MM-YYYY')}}</td>
                </tr>
                <tr>
                    <td style="height: 50px;width: 400px; border: 1px solid #e5e5e5;padding: 8px;">Tổng tiền đơn hàng:
                    </td>
                    <td style="height: 50px; border: 1px solid #e5e5e5;font-weight: bold; padding: 8px;">{{totalPrice |
                        CustomeCurrency}} ₫</td>
                </tr>
                <tr>
                    <td style="height: 50px;width: 400px; border: 1px solid #e5e5e5;padding: 8px;">Hình thức thanh toán:
                    </td>
                    <td style="height: 50px; border: 1px solid #e5e5e5;font-weight: bold; padding: 8px;">
                        {{order?.payment_method}}</td>
                </tr>
            </table>
        </div>
        <div class="order-success__back-to-home">
            <div class="order-success__back-to-home__button" (click)="goToHomePage()">Trở về Trang Chủ</div>
        </div>
        <span class="order-success__contact">Nếu có bất kỳ thắc mắc gì về đơn đặt hàng, quý khách vui lòng gọi ngay cho
            Điện máy Phong Hòa qua đường dây nóng <a href="">0838 214 214</a></span>
    </div>
</div>
