@import "src/app/app.component";

.order-success {
    font-family: sans-serif;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

    &__detail {
        padding: 50px;
    }

    &__logo-success {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    &__info-order {
        table {
            border-collapse: collapse;
            width: 1000px;

            @include for-size("phone-sm") {
                width: 268px !important;

            }

            @include for-size("tablet") {
                width: 646px;

            }
        }

        td {
            border: 1px solid #e5e5e5;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #e5e5e5;
        }

        &__more {
            table {
                border-collapse: collapse;
                width: 1000px;

                @include for-size("phone-sm") {
                    width: 268px !important;

                }

                @include for-size("tablet") {
                    width: 646px;

                }
            }

            td {
                border: 1px solid #e5e5e5;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: white;
            }
        }
    }

    &__back-to-home {
        display: flex;
        align-items: center;

        &__button {
            margin-left: auto;
            margin-right: auto;
            border: 1px solid $accentColor;
            border-radius: 5px;
            text-decoration: none;
            padding: 10px 30px 10px 30px;
            transition: 0.3s;
            color: $accentColor;
            font-family: sans-serif;

            &:hover {
                cursor: pointer;
                color: #FDF5E8;
                background-color: $accentColor;
                border: 1px solid $accentColor;
            }
        }
    }

    &__contact {
        font-style: italic;

        a {
            text-decoration: none;
            color: $accentColor;
        }
    }
    .bank-pay{
        .phone-mode{
            display: none;

            @include for-size("phone-sm") {
                display: contents;

            }
        }
        .normal-mode{
            @include for-size("phone-sm") {
                display: none;

            }
        }
    }
}
