<div *ngIf="category != null; else loading">
  <!--    <app-slide-product [menuRequire]="true" [advertiseCategories]="[category]"></app-slide-product>-->
  <img class="banner card" [src]="category?.advertise_image?.path ? category?.advertise_image?.path : './assets/icon/placeholder.svg' " *ngIf="category?.advertise_image?.path != null" >
  <app-filter-product [specs]="specsValues" *ngIf="category != null" (filterChange)="handleFilterChange($event)"></app-filter-product>
  <h2 class="name-cagetory" style="font-weight: bold;" *ngIf="category?.full_name != null" >{{category?.full_name}} <span style="font-size: 13px;font-weight: normal;"> Tổng số {{!category?.product_size ? 0 : category?.product_size}} sản phẩm</span></h2>
  <div class="product-container" *ngIf="category?.listProducts != null" >
    <div class="product-row">
      <app-product-item class="product-row__item" *ngFor="let product of category?.listProducts" [category]="category.full_name"
                        [product]="product" [isListProduct]="true"></app-product-item>
    </div>

    <div class="centered-button" *ngIf="category?.listProducts && category?.listProducts.length > 0">
      <div class="btn btn-outline-secondary load-category d-flex flex-row justify-content-center align-content-center" (click)="seeMore()" *ngIf="!isNoMore">
        <label class="align-self-center">Xem thêm</label>
        <div class="spinner-border m-2" role="status" *ngIf="isLoading">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

    </div>
  </div>
  <div>
    <app-category-content [category]="category" [newsList]="newsList" *ngIf="category != null"  ></app-category-content>
  </div>
</div>


<ng-template #loading>
  <app-loading-screen style="width: 100%; height: 700px"></app-loading-screen>
</ng-template>

