<div class="productItem" (click)=" navigateToProductDetail(product)">
    <a class="card w-100" style="border-radius: 15px" [ngClass]="{'shadow': isShadow}">
      <div class="productItem__thumbnail-item">
        <img class="productItem__thumbnail-item--avatar" width="100"  height="100"
             src="{{product.images?.[0]?.path ? product.images?.[0]?.path : './assets/icon/placeholder.svg'}}"
             alt="Trang chủ" decoding="async" title="Trang chủ">
      </div>
      <div class="productItem__entry">
        <span class="productItem__entry--price">
          <ins>
            <label>
              {{product.price | CustomeCurrency}}  ₫
            </label>
          </ins>
<!--          <del aria-hidden="true">-->
<!--            <label>{{product.listPrice | CustomeCurrency}} ₫-->
<!--            </label>-->
<!--          </del>-->
        </span>
      </div>
        <app-progressbar class="appProgress" [progressValue]="randomProgressValue" [progressText]="randomProgressText"></app-progressbar>
    </a>
  </div>
