@import "src/app/colors";
.box-upload {
  width: 100%;
  height: 150px;
  border: 1px dashed #c1c1c1;
  border-radius: 10px;
  position: relative;
  margin-bottom: 15px;
  background-color: #f9f9f9;

  button {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
  }
  .hint-text,
  img {
    font-size: 16px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    color: #2c2c2c;
  }
  img {
    height: 100px;
    width: auto;
  }
}

mat-form-field {
  width: 100%;
}

:host ::ng-deep {
  .mat-mdc-dialog-content {
    height: 100%;
    max-height: calc(100vh - 130px) !important;
  }
}

.form-group {
  margin-bottom: 15px;
}

.NgxEditor__Wrapper {
  height: 770px !important;
  overflow: auto;
}




.product-new{
  display: flex;
  flex-direction: column;

  &__label {
    align-self: center;
    min-width: 220px;
  }
  &__label2 {
    align-self: center;
    min-width: 70%;
  }
  &__input {
    flex: 1;
    min-width: 200px;
  }
  &__name {
    width: 50vw;
  }

  &__input .dropdown-toggle{
    min-width: 200px;
    white-space: pre-wrap;
  }


  &__detail {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 180px;
  }
  &__editor {
    flex: 7;
    margin: 10px;
  }
  &__preview {
    display: flex;
    padding: 8px;
    max-width: 60vw;
    overflow: scroll;
    overflow-y: hidden;
  }
  div.center-cropped {
    justify-items: flex-end;
    display: flex;
    flex-direction: column;
    height: 8rem;
    width: 8rem;
    margin: 8px;
  }
  div.center-cropped img {
    height: 100%;
    min-width: 100%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
  }

  &__menu {
    flex: 3;
    margin: 10px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__upload {
    min-height: 60px;
    margin-bottom: 16px;
    border-radius: 8px;
    border: 2px dashed #CBD5E0;
    background-color: $uploadBackground;
    padding: 24px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: center;
  }
}




