<h2 mat-dialog-title>{{ productId ? "Cập nhật sản phẩm" : "Thêm mới sản phẩm" }}</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="form">
    <div class="product-new">
      <h1 class="m-3">Thêm sản phẩm</h1>

      <div class="d-flex m-3">
        <input class="form-control product-new__name w-100" type="text" placeholder="Tên sản phẩm" formControlName="name"/>
      </div>
      <div class="m-3">
<!--        <quill-editor class="w-100"-->
<!--                      [modules]="quillEditorModules"-->
<!--                      [styles]="{height: '60vh', backgroundColor:'#faf8f8'}"-->
<!--                      formControlName="description">-->
<!--        </quill-editor>-->
        <div id="editor" class="w-100"
             style="height: 60vh; backgroundColor: #faf8f8;"
        >
        </div>
        <div class="product-new__bottom">
          <label>Số từ: {{wordCount}}</label>
          <label>Chỉnh sửa lần cuối lúc: {{lastUpdated}}</label>
        </div>
      </div>
      <div class="product-new__detail">

        <div class="product-new__editor">

          <div class="product-new__upload" (click)="file.click()" corpImgUpload
               (dropFiles)="onDropFiles($event)">
            <input type="file" multiple hidden accept="image/*" (change)="selectFiles($event)" #file>

            <div class="product-new__upload--path">
              <i class="fa fa-upload fa-2x"></i>
            </div>
            <div class="product-new__upload--placeholder-main">
              <label>Thêm ảnh sản phẩm</label>
            </div>
            <div class="product-new__upload--placeholder-sub">
              <label>Hoặc kéo thả</label>
            </div>
          </div>
          <div class="product-new__preview" >
            <div class="center-cropped" *ngFor="let path of filePaths, index as i">
              <div style="display: flex; gap: 10px;">
                <div class="product-new__preview--close" (click)="file.click()" corpImgUpload>
                  <input type="file" multiple hidden accept="image/*" (change)="onUpdateImage($event,i)" #file>
                  <i class="fa fa-edit"></i>
                </div>
                <div class="product-new__preview--close" (click)="onRemoveImage(i)">
                  <i class="fa fa-close"></i>
                </div>
              </div>
              <img class="product-new__preview--thumbnail" [src]="path"/>
            </div>
          </div>
          <div class="card mt-2">
            <div class="card-header">
              <label>
                Sản Phẩm
              </label>
            </div>


            <div class="m-2">
              <div class="d-flex p-1">
                <label class="product-new__label">Giá niêm yết</label>
                <input class="form-control product-new__input" type="number"
                       maxlength="45" formControlName="listPrice"/>
              </div>
              <div class="d-flex  p-1">
                <label class="product-new__label">Giá bán (BH 1T)</label>
                <input class="form-control product-new__input" type="number"
                       maxlength="45" formControlName="price"/>
              </div>
              <div class="d-flex  p-1">
                <label class="product-new__label">Giá bán (BH 6T)</label>
                <input class="form-control product-new__input" type="number"
                       maxlength="45" formControlName="price6"/>
              </div>
              <div class="d-flex  p-1">
                <label class="product-new__label">Giá bán (BH 12T)</label>
                <input class="form-control product-new__input" type="number"
                       maxlength="45" formControlName="price12"/>
              </div>
              <div class="d-flex  p-1">
                <label class="product-new__label">Giá bán (BH 15T)</label>
                <input class="form-control product-new__input" type="number"
                       maxlength="45" formControlName="price15"/>
              </div>
              <div class="d-flex  p-1">
                <label class="product-new__label">Giá bán (BH 18T)</label>
                <input class="form-control product-new__input" type="number"
                       maxlength="45" formControlName="price18"/>
              </div>
              <div class="d-flex  p-1">
                <label class="product-new__label">Giá bán (BH 24T)</label>
                <input class="form-control product-new__input" type="number"
                       maxlength="45" formControlName="price24"/>
              </div>
              <div class="d-flex  p-1">
                <label class="product-new__label">Số lượng tồn kho</label>
                <input class="form-control product-new__input" type="number"
                       maxlength="45" formControlName="stock"/>
              </div>

              <div class="d-flex  p-1">
                <label class="product-new__label"> Bảo hành (tháng) </label>
                <input class="form-control product-new__input" type="number"
                       maxlength="45" formControlName="warranty"/>
              </div>
              <div class="d-flex  p-1">
                <label class="product-new__label"> 1 đổi 1 trong (ngày) </label>
                <input class="form-control product-new__input" type="number"
                       maxlength="45" formControlName="number_of_replace_day"/>
              </div>
              <div class="d-flex flex-row">
                <div class="d-flex  p-1">
                  <label class="product-new__label"> Thương hiệu </label>
                  <div class="flex-column product-new__input" id="product-add-product-brand">
                    <button class="btn btn-outline-secondary dropdown-toggle mt-2 ư"
                            type="button" id="dropdownProductBrand"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                      {{selectedProductBrand?.name ? selectedProductBrand?.name : '--- Thương hiệu ---'}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownProductLabel">
                      <a class="dropdown-item" *ngFor="let productBrand of productBrands"
                         (click)="selectProductBrand(productBrand)">{{productBrand?.name}}</a>
                    </div>
                  </div>
                  <div>
                  </div>
                </div>
                <a class="align-self-center m-2" style="cursor: pointer" (click)="onAddNewBrandClick()"> Thêm mới</a>
              </div>
              <div class="d-flex  p-1">
                <label class="product-new__label"> Nhãn sản phẩm </label>
                <div class="flex-column product-new__input" id="product-add-product-label">
                  <button class="btn btn-outline-secondary dropdown-toggle mt-2 ư"
                          type="button" id="dropdownProductLabel"
                          data-bs-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false">
                    {{selectedProductLabel ? selectedProductLabel : '--- Loại nhãn sản phẩm ---'}}
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownProductLabel">
                    <a class="dropdown-item" *ngFor="let postProductLabel of postProductLabel"
                       (click)="selectProductLabel(postProductLabel)">{{postProductLabel}}</a>
                  </div>
                </div>
                <div>
                </div>
              </div>
              <div class="d-flex  p-1">
                <label class="product-new__label"> Loại sản phẩm </label>
                <div class="flex-column product-new__input" id="post-add-product-type">
                  <button class="btn btn-outline-secondary dropdown-toggle mt-2"
                          type="button" id="dropdownParentProductType"
                          data-bs-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false">
                    {{selectedProductType ? (selectedProductType.length > 45 ? selectedProductType.prototype.substring(0, 45) + '...' : selectedProductType) : '--- Loại Sản Phẩm ---'}}
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownParentProductType">
                    <a class="dropdown-item" *ngFor="let postProductType of postProductTypes"
                       (click)="selectProductType(postProductType)">{{postProductType}}</a>
                  </div>
                </div>
                <div>
                </div>
              </div>
              <div class="d-flex  p-1 ">
                <label class="form-check-label product-new__label2">
                  Trạng thái sản phẩm (ẩn/hiện)
                </label>
                <input class="form-check-input align-self-center m-2" type="checkbox" value=""
                       formControlName="is_active">
              </div>
              <div class="d-flex  p-1 ">
                <label class="form-check-label product-new__label2">
                  Giao hàng tận nơi toàn quốc (COD)
                </label>
                <input class="form-check-input align-self-center m-2" type="checkbox" value=""
                       formControlName="is_shipment_support">
              </div>
              <div class="d-flex  p-1">
                <label class="form-check-label product-new__label2">
                  Hỗ trợ trả góp
                </label>
                <input class="form-check-input align-self-center m-2" type="checkbox" value=""
                       formControlName="is_installment_support">
              </div>
            </div>
          </div>

          <!--post Specs section-->
          <div class="card mt-3">
            <div class="card-header">
              <label>
                Thông số kỹ thuật
              </label>
            </div>
            <div class="m-2">
              <div class="d-flex flex-column p-1">
            <textarea class="form-control"
                      placeholder="Mô tả chung cho thông số kỹ thuật"
                      rows="5"
                      formControlName="specification"
            >

            </textarea>
                <table class="table">
                  <thead>
                  <tr class="text-center">
                    <th scope="col">Tên thông số</th>
                    <th scope="col">Giá trị</th>
                  </tr>
                  </thead>
                  <tbody>
                  <ng-container formArrayName="specifications">
                    <tr *ngFor="let spec of specifications.controls, index as i">
                      <ng-container [formGroupName]="i">
                        <!-- Since each control within FormArray is a FormGroup -->
                        <td class="col-md-5">
                          <input class="form-control" placeholder="Tên thông số"
                                 formControlName="key"
                          >
                        </td>
                        <td class="col-md-5">
                          <input class="form-control" placeholder="Giá trị"
                                 formControlName="value"></td>
                        <td class="col-md-2">
                          <button type="button" class="btn btn-danger"
                                  (click)="onDeleteSpec(i)">
                            Delete
                          </button>
                        </td>
                      </ng-container>

                    </tr>
                  </ng-container>
                  </tbody>
                </table>
                <button class="btn btn-outline-primary" (click)="onAddSpec()" i>Thêm thông số</button>
              </div>
            </div>
          </div>
        </div>
        <div class="product-new__menu">

          <!--post Product section-->



          <!--post tag section-->
          <div class="card mt-2">
            <div class="card-header">
              <label>
                Danh mục
              </label>
            </div>
            <div class="m-2" id="product-category">
              <div class="d-flex  p-1" *ngFor="let cat of categoryList">
                <input class="form-check-input align-self-center m-2" type="checkbox" [value]="cat"
                       [(ngModel)]="cat.checked"
                       [ngModelOptions]="{standalone: true}"
                       (change)="onCategoryChange()">
                <label class="form-check-label product-new__label2">
                  {{cat.full_name}}
                </label>
              </div>
            </div>
          </div>


          <!--post tag section-->
          <div class="card mt-2">
            <div class="card-header">
              <label>
                Thẻ (Tag)
              </label>
            </div>
            <div class="m-2" id="post-tag">
              <div class="d-flex flex-row">
                <input class="form-control " type="text"
                       maxlength="45"/>
                <button class="btn btn-outline-primary ms-2" (click)="addTag()">Thêm</button>
                <div>
                </div>
              </div>
              <label class="m-2">Phân cách các thẻ bằng dấu phẩy</label>
              <div class="d-flex flex-row flex-wrap">
                <div class="d-flex flex-row flex-wrap" *ngFor="let tag of tagDataArray">
                  <div>
                                        <span class="btn-label m-2"><i class="fa fa-remove"
                                                                       (click)="removeTag(tag)"></i></span>{{tag}}
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </form>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <div class="button-group d-flex gap-2">
    <button mat-raised-button color="primary" (click)="onSave()">
      <mat-icon>save</mat-icon>
      Lưu
    </button>

    <button mat-raised-button mat-dialog-close>
      <mat-icon>close</mat-icon>
      Hủy bỏ
    </button>
  </div>
</mat-dialog-actions>
