<div class="login-wrapper">
    <div class="login-card">
        <h2 class="store-title">Phat's Pizza Store</h2>

        <form #authForm="ngForm" class="login-form">
            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input type="text" matInput [(ngModel)]="email" [ngModelOptions]="{ standalone: true }" required />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input [type]="isShowPassword ? 'text' : 'password'" matInput [(ngModel)]="password"
                    [ngModelOptions]="{ standalone: true }" required />
                <mat-icon matSuffix (click)="isShowPassword = !isShowPassword" style="cursor: pointer;">
                    {{ isShowPassword ? 'visibility' : 'visibility_off' }}
                </mat-icon>
            </mat-form-field>

            <div class="submit-wrapper">
                <button mat-raised-button color="primary" type="submit" (click)="submitForm()">Login</button>
            </div>
        </form>
    </div>
</div>