<div class="login-wrapper">
    <div class="login-wrapper__content">
        <div class="align-items-center justify-content-center container-fluid" id="login-page">
            <div class="d-flex justify-content-center">
                <div class="box d-flex flex-column p-4 border border-dark card">
                    <h6 class="align-self-center">Đổi Mật Khẩu</h6>
                    <div class="error-message">
                        <!-- <p>{{errorMessage}}</p> -->
                    </div>

                    <form class="d-flex flex-column" #authForm="ngForm">


                   

                        <mat-form-field>
                            <mat-label>Mật khẩu Cũ</mat-label>
                            <input type="{{ isOldShowPassword ?  'password' : 'text' }}" matInput [(ngModel)]="oldPassword" [ngModelOptions]="{standalone: true}">
                            <mat-icon matSuffix (click)="isOldShowPassword = !isOldShowPassword">{{ isOldShowPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Mật khẩu Mới</mat-label>
                            <input type="{{ isNewShowPassword ?  'password' : 'text' }}" matInput [(ngModel)]="newPassword" [ngModelOptions]="{standalone: true}">
                            <mat-icon matSuffix (click)="isNewShowPassword = !isNewShowPassword">{{ isNewShowPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Nhập lại mật khẩu mới</mat-label>
                            <input type="{{ isReNewShowPassword ?  'password' : 'text' }}" matInput [(ngModel)]="reNewPassword" [ngModelOptions]="{standalone: true}">
                            <mat-icon matSuffix (click)="isReNewShowPassword = !isReNewShowPassword">{{ isReNewShowPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                        </mat-form-field>

                        <div *ngIf="newPassword != reNewPassword" style="color: red; font-family: sans-serif; padding-bottom: 10px;">
                            Mật Khẩu mới và nhập lại mật khẩu mới không giống nhau!
                        </div>
                        <div class="d-flex justify-content-end">


                            <button mat-raised-button color="primary" type="submit" (click)="submitForm()">
                Đổi Mật Khẩu
              </button>

                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
