<div class="home-wide-container">
  <div class="home-wide-container">
    <div class="home-wide-item card" style="background-color: #efeffa;">
      <div>
        <h4 class="medium">Xiaomi 13 serija</h4>
        <p>108MP galia</p></div>
      <span class="featured-price">
        <br>
      </span><a href="https://mi-home.lt/event/xiaomi-13-serija/"
                title="Sužinokite daugiau apie Xiaomi 13 serija">
      <img
        src="https://mi-home.lt/img/banner/xiaomi-13-serija.png" alt="Meistriškumo užkulisiai">
    </a>
    </div>
    <div class="home-wide-item card" style="background-color: #f7b9a1;"><span class="regular featured-label"></span>
      <div><h4 class="medium">Bevielės ausinės</h4>
        <p>Klausyk muzikos, ne triukšmo</p> <span class="featured-price"><br></span></div>
      <a href="https://mi-home.lt/audio" title="Sužinokite daugiau"><img
        src="https://mi-home.lt/img/banner/bevieles-ausines-baneris.png" alt="Bevilės ausinės"> </a></div>
    <div class="home-wide-item card" style="background-color: #ffce6d;"><span class="regular featured-label"></span>
      <div style="margin-bottom: 0px;"><h4 class="medium">Išmanieji laikrodžiai</h4>
        <p>Būk stilingai aktyvus</p> <span class="featured-price"><br></span></div>
      <a href="https://mi-home.lt/ismanieji-laikrodziai-ir-apyrankes" title="Sužinokite daugiau"><img
        src="https://mi-home.lt/img/banner/ismanieji-laikrodziai-baneris.png" alt="Išmanieji laikrodžiai"> </a></div>
    <div class="home-wide-item card" style="background-color: #61a6ab;"><span class="regular featured-label"></span>
      <div style="margin-bottom: 0px;"><h4 class="medium">Xiaomi siurbliai</h4>
        <p>Galingai ir sumaniai</p> <span class="featured-price"><br></span></div>
      <a href="https://mi-home.lt/dulkiu-siurbliai" title="Sužinokite daugiau apie Mi Vacuum"><img
        src="https://mi-home.lt/img/cms/banners/featured/3.png" alt="Mi Vacuum"> </a></div>
  </div>
</div>
