@import "src/app/app.component";

.home-wide-container{
  display: flex;
  flex-wrap: wrap;
  @include for-size("phone-sm"){
    width: 100%;
  }
}

.home-wide-item{
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex : 1;
  margin: 5px;
  width: calc(70vw/4 - 10px);
  height: calc(70vw/4 - 10px);
  @include for-size("phone-sm"){
    flex: initial;
    width: calc(100vw/2 - 21px);
    height: auto;
  }
  img {
    object-fit: cover;
    height: calc(45vw/4 - 10px);
    width: calc(45vw/4 - 10px);
    @include for-size("phone-sm"){
      width: calc(100vw/4 - 21px);
      height: calc(100vw/4 - 21px);
    }
  }
}
