<div class="error-wrapper">
  <div class="error-wrapper__content">
    <div class="align-items-center justify-content-center container-fluid" id="error-page">
      <div class="d-flex justify-content-center">
        <div class="box " style="flex-direction: column;">
<!--          <h6 class="title">{{ errorStatus }}</h6>-->
          <img src="assets/img/err_img.png">
          <h1 class="align-self-center">
            Oops, looks like this page is lost.</h1>
          <h4>This is not a fault, just an accident that was not intentional
          </h4>
          <h4>
            <a class="home-button" (click)="onButtonClick()">Trang chủ</a>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
