<div class="login-wrapper">
    <div class="login-wrapper__content">
        <div class="align-items-center justify-content-center container-fluid" id="login-page">
            <div class="d-flex justify-content-center">
                <div class="box d-flex flex-column p-4 border border-dark card">
                    <h6 class="align-self-center">Đăng nhập</h6>
                    <div class="error-message">
                        <!-- <p>{{errorMessage}}</p> -->
                    </div>

                    <form class="d-flex flex-column" #authForm="ngForm">


                        <mat-form-field>
                            <mat-label>Tên người dùng hoặc Địa chỉ Email</mat-label>
                            <input type="text" matInput [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Mật khẩu</mat-label>
                            <input type="{{ isShowPassword ?  'password' : 'text' }}" matInput [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
                            <mat-icon matSuffix (click)="isShowPassword = !isShowPassword">{{ isShowPassword ? 'visibility' : 'visibility_off' }}</mat-icon>
                        </mat-form-field>

                        <div class="d-flex justify-content-end">


                            <button mat-raised-button color="primary" type="submit" (click)="submitForm()">
                Đăng nhập
              </button>

                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
