<div class="categoryBar" [ngClass]="{'scrolled': isScrolled}" *ngIf="categories?.length > 0">
  <div class="categoryBar__content" [ngClass]="{'scrolled': isScrolled}">
    <div class="categoryBar__item" *ngFor="let category of categories" [ngClass]="{'scrolled': isScrolled}" (click)="onSelectCategory(category)" >
      <a class="categoryBar__item--link">
        <img [src]="category?.image_info?.path ? category?.image_info?.path :'./assets/icon/placeholder.svg' " class="header_bottom__logo-items">
      </a>
      <span class="categoryBar__item--label" [ngClass]="{'scrolled': isScrolled}"
            style="color: white; text-decoration: none;">{{category?.name}}</span>
    </div >
  </div>
</div>
