@import '../../../app.component';
.newsDetail--nav__title {
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 22px;
  padding: 10px 30px 10px 30px;
  background-color: #2D2D37;
  width: fit-content;

}
.youtubeFrame{
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
}

.youtube-container{
  width: 100%;
  @include for-size("phone-sm"){
    margin-bottom: 20px;
  }
}
.newsDetail--nav__title {
  background-color: white;
  color: black;
  text-align: center;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 10px;
  border: 2px solid white;
  border-radius: 8px;
  display: flex;
  padding: 10px;
  justify-content: space-around;
}
.bannerNews{
  border-radius: 10px;
  margin-left: 5px;
  @include for-size("phone-sm"){
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }
}
.first-news {
  height: 100%;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  border-top-left-radius: 10px 10px;
  border-top-right-radius: 10px 10px;
  &__img{
    height: 70%;
    width: 100%;
    object-fit: contain;
    overflow: hidden;
    @include for-size("phone-sm"){
      height: 65%;
    }
    @include for-size("tablet"){
      height: 60%;
    }
    img{
      border-top-left-radius: 10px 10px;
      border-top-right-radius: 10px 10px;
      transition: transform 0.3s ease;
      height: 100%;
      width: 100%;
    }
   
  }
  :hover {
    img{
      transform: scale(1.1);
    }
  }
  &__content-news{
    padding: 10px;
  }
  &__title {
    font-weight: bold;
    font-size: 18px;
    @include for-size("phone-sm"){
      padding: 5px;
      font-size: 14px;

    }
    @include for-size("tablet"){
      padding: 5px;
      font-size: 14px;
    }
    &:hover {
      cursor: pointer;
    }
  }

  &__sm-title {
    font-size: 14px;
    font-weight: 500;

    &:hover {
      cursor: pointer;
    }
  }

  &__date {
    line-height: 1.3em;
    font-size: 12px;
    margin-bottom: 13px;
    color: #adadad;
  }
}

.floatCall{
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 9999999;

  @include for-size("phone-sm"){
    bottom: 70px;
    right: 10px;
  }
}


.searchBar__contact--call{
  margin: 8px;
  width: min-content;
  padding: 6px 10px 6px 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: $accentGradient;
  border-radius: 10px;

  &:hover{
    cursor: pointer;
  }
}

.comment-slide{
  background-image: url('../../../../assets/img/background-comment.png');
  background-size: cover;

  @include for-size("phone-sm") {
    background-image: none;

  }
}

.product-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;

  @include  for-size("tablet"){
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-left: 0px;
    margin-right: 0px
  }
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category {
  border-radius: 5px;
  align-items: center;
}


.price {
  display: flex;
  margin: 10px;

  .discount {
    margin-right: 5px;
    font-size: 13px;
    font-family: "Inter", sans-serif;
    color: $accentFirstColor;
  }

  .normal-price {
    font-size: 11px;
    font-family: "Inter", sans-serif;
    text-decoration: line-through;
  }

}


.product-list{
  @include for-size("tablet") {
    overflow-y: hidden;
    overflow-x: scroll;
  }
  @include for-size("phone-sm") {
    overflow-y: hidden;
    overflow-x: scroll;
  }
}


.product-row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 28px;
  margin-bottom: 10px;
  justify-content: flex-start;
  @include for-size("tablet") {
    padding-left: 10px;
    width: calc(270px * 5);
    &::-webkit-scrollbar {
      display: none;  /* Safari and Chrome */
    }
  }

  @include for-size("phone-sm") {
    //padding-left: 10px;
    width: calc(195px * 5);
    &::-webkit-scrollbar {
      display: none;  /* Safari and Chrome */
    }
  }
  a {
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-family: "Inter", sans-serif;
  }

  &__item{
    width: calc((100%)/5);
    @include for-size("phone-sm") {
      //padding-left: 10px;
      width: 175px;
      height: 310px;
      &::-webkit-scrollbar {
        display: none;  /* Safari and Chrome */
      }
    }
  }
}

.product {
  flex: 0 0 calc(33.33% - 20px); /* Kích thước cố định cho từng sản phẩm, 33.33% cho 3 cột trên một hàng, với 20px khoảng cách */
  border: 1px solid #ccc; /* Đường viền sản phẩm */
  padding: 10px;
  background-color: #fff; /* Màu nền sản phẩm */
}

.product a {
  text-decoration: none; /* Loại bỏ đường link mặc định */
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1); /* Adding a shadow to the right and bottom */
  background-color: #fff; /* Màu nền sản phẩm */
  border: 1px solid #ccc; /* Đường viền sản phẩm */
  padding: 20px 20px 20px 20px;

}

.image {
  margin-bottom: 10px;
}

.image-container {
  position: relative;
  overflow: hidden;
}

.zoom-image {
  transition: transform 0.2s;
  max-width: 100%;
  height: auto;
}

.zoom-image:hover {
  transform: scale(1.1); /* Hiệu ứng phóng to khi hover */
}

h3 {
  font-size: 1.2rem;
  margin: 0;
}

.price {
  font-weight: bold;
}

.discount {
  color: red;
}

.normal-price {
  text-decoration: line-through;
  color: #888;
}

.btn-order {
  background-color: #ee8141;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

/* Áp dụng kiểu cho nút chỉ khi có hàng tồn kho */
.btn-order:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.btn-see-all-product {
  background: $accentGradient;
  border: 2px solid white;
  border-radius: 5px;
  margin-top: 3px;

}

.btn-see-all-product:hover {
  color: white;

}

.product-info:hover {
  border: 2px solid $accentFirstColor
}

.load-category {
  margin-bottom: 20px;
  width: 300px;
}
//
//.load-category:hover {
//  border: 2px solid $accentFirstColor
//}

.centered-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.title {
  background-color: $headerBackground;
  border: 2px solid white;
  border-radius: 8px;
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: space-around;

  @include for-size("phone-sm"){
    max-width: 300px;
  }
  @include for-size("tablet"){
    border-radius: 10px;
    max-width: 300px;
  }

  span {
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    display: inline-block;
  }


}

.title-category {
  color: white;
  padding-top: 5px;
  padding-bottom: 6px;
}

.info {
  display: flex;
  flex-direction: column;
}

/* Define a class for the zoom effect */
.zoom-image {
  transition: transform 0.2s; /* Add a smooth transition effect */
}

/* Define the zoom effect when hovering over the image */
.zoom-image:hover {
  transform: scale(1.1); /* Adjust the scale factor for the desired zoom level */
}

/* Ensure the image stays within the boundaries of the container */
.image-container {
  overflow: hidden;
  width: 170px; /* Adjust to the width of your image container */
  height: 150px; /* Adjust to the height of your image container */
}






@media screen and (max-width: 768px) {
  //.product-container {
  //  display: flex;
  //  flex-wrap: nowrap;
  //  flex-direction: column;
  //  margin-left: 0px;
  //  margin-right: 0px
  //
  //}

  //.product-list{
  //  overflow-y: hidden;
  //  overflow-x: scroll;
  //}
  //.product-row {
  //  padding-left: 10px;
  //  width: calc(270px * 5);
  //  flex-wrap: wrap;
  //  //overflow: scroll;
  //  justify-content: flex-start;
  //  &::-webkit-scrollbar {
  //    display: none;  /* Safari and Chrome */
  //  }


  //}

  //.title {
  //  border-radius: 10px;
  //  width: 200px;
  //}
}


.item-img {
  height: calc(70vw * 800/2480);
  width: 70vw;

  @include for-size("phone-sm"){
    height: calc(100vw * 1/2);
    width: 100%;
    object-fit: cover;
  }
}
