<div class="header-top" [ngClass]="{'scrolled': isScrolled}">
  <div class="header-top-warpper">
    <div class="header-top__column--contact">
      <span>Kết nối</span>
      <a class="header-top__column--contact__icon-facebook" href="https://www.facebook.com/xiaomichinhhag"><img
        src="../assets/img/facebook.png"></a>
      <span class="header-top__column--contact__line"></span>
      <a class="header-top__column--contact__icon-phone" href="tel:0919213678"><img src="../assets/img/phone.png"></a>
      <a class="header-top__column--contact__hotline" href="tel:0919213678"> 0919.213.678</a>
    </div>
    <div class="header-top__column--menu">
      <nav class="header-top__column--menu__nav-menu">
        <li><a><span class="header-top__column--menu__item-text">Tra cứu bảo hành</span></a></li>
        <li><a (click)="onMenuHeaderClick(13)"><span
          class="header-top__column--menu__item-text">Kiểm tra đơn hàng</span></a></li>
        <li><a (click)="onMenuHeaderClick(12)"><span
          class=" header-top__column--menu__item-text">Chính sách bảo hành</span></a></li>
        <li><a (click)="onMenuHeaderClick(14)"><span class="header-top__column--menu__item-text">Sản phẩm đã xem</span></a>
        </li>
        <li><a (click)="onMenuHeaderClick(11)"><span class="header-top__column--menu__item-text">Liên hệ hợp tác</span></a>
        </li>
        <li><a (click)="onMenuHeaderClick(0)"><span
          class="header-top__column--menu__item-text">Tất cả sản phẩm</span></a></li>
      </nav>
    </div>
  </div>
</div>
<app-search-bar [top4Categories]="categories?.slice(0, 4)" [categories]="categories" [searchCategories]="searchCategories" [allCategories]="allCategories"></app-search-bar>
<app-category-bar [categories]="categories" [isScrolled]="true"></app-category-bar>

