@import '../../../app.component';


.header-top {
  background: $accentGradient;
  padding: 8px 10px 8px 10px;

  &-warpper {
    display: flex;
    justify-content: space-around;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 13px;
    font-family: "Inter", sans-serif;
    @include for-size("phone-sm") {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  &__column--contact {
    align-items: center;
    display: flex;
    color: white;

    a {
      cursor: pointer;
      text-decoration: none;
      color: white;
      margin-left: 5px;
      margin-right: 5px;
    }

    a.header-top__column--contact__icon-phone,
    a.header-top__column--contact__icon-facebook {
      width: 10px;
      height: auto;
    }

    span {
      margin-left: 5px;
      margin-right: 5px;
    }

    span.header-top__column--contact__line {
      display: inline-block;
      width: 1px;
      height: 15px;
      background-color: white;
      margin-right: 10px;
      margin-left: 8px;
    }
  }

  &__column--menu__nav-menu {
    list-style: none;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    justify-content: center;

    li {
      margin-right: 10px;
    }

    a {
      text-decoration: none;
      color: white;
      transition: color 0.5s;
      &:hover{
        cursor: pointer;
        color: #2d2d37;

      }
    }
  }
}


.header-mid {
  height: 77px;
  background-color: #2d2d37;
  padding: 8px 10px 8px 10px;


  &-warpper {
    display: flex;
    justify-content: center;
    font-size: 11px;
    font-family: "Inter", sans-serif;

    &__img {
      width: 100px;
      display: flex;
      align-items: center;

      img {
        max-width: 60px;
        height: auto;
      }
    }

    &__search-and-list {
      display: flex;
      flex-direction: column;
      margin-top: 5px;
      width: 50%;
    }

    &__search-container {
      position: relative;
      display: inline-block;
      width: calc(100% - 36px);
      width: -moz-calc(100% - 36px);
      width: -webkit-calc(100% - 36px);

      input[type="header-mid-warpper__search-containe__text"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }

      i.fa-search {
        position: absolute;
        top: 50%;
        font-size: large;
        right: 10px;
        transform: translateY(-50%);
        background: $accentGradient;
        -webkit-background-clip: text;
        /* Optional, for better browser support */
        color: transparent;
        cursor: pointer;
      }
    }

    &__list-mini-category-row {
      display: flex;
      flex-wrap: wrap;
    }

    &__list-mini-category {
      a {
        margin-left: 5px;
        margin-right: 5px;
        text-decoration: none;
        color: white;
      }
    }

    &__cart-contents {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        color: white;
        text-decoration: none;
      }

      &__order {
        display: flex;
        /* flex-wrap: wrap; */
        background: $accentGradient;
        border-radius: 10px;
        align-items: center;
        width: 139px;
        height: 50px;
        /* margin-bottom: 10px; */
        /* gap: 0px; */
        padding-left: 5px;
        padding-right: 5px;

      }

      &__call-number {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 5px;

        strong {
          font-size: 15px;
        }
      }

      &__cart-icon {
        display: block;
        text-align: center;
        padding: 5px 12px;
        border-radius: 8px;
        text-decoration: none;
        width: 100px;
      }

      &__icons {
        display: block;
        line-height: 1;
        margin-bottom: 4px;
        position: relative;
      }

      &__cart-count {
        position: absolute;
        z-index: 2;
        width: 20px;
        top: -6px;
        right: 10px;
        font-size: 13px;
        height: 20px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $accentGradient;
        color: white;
      }
    }

  }
}

.header_bottom {
  @extend %center-container;
  width: 70vw;
  margin-top: 5px;

  @include for-size("tablet") {
    width: 90vw;
    margin-left: 5%;
    margin-right: 5%;
  }
  @include for-size("phone-sm") {
    width: 90vw;
    margin-left: 5%;
    margin-right: 5%;
  }

  &__list-category-row {
    max-height: 200px;
    background: $accentGradient;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border-radius: 10px;
    color: white;
    padding: 10px 50px 10px 50px;
    position: relative;
    overflow: hidden;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;

    @include for-size("tablet") {
      padding: 10px;
      overflow: scroll;
    }
    @include for-size("phone-sm") {
      padding: 10px;
    }
  }

  &__list-category-row::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }
  &__list-mcategory {
    a {
      text-decoration: none;
    }

  }

  &__content-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__name-category{
    min-width: 80px;
    text-align: center;
  }

  &__name-category.scrolled{
    min-width: initial;
    width: 100%;
  }

}

.header_bottom.scrolled{
  padding: 0;
  margin: 0;
  width: 100vw;
  // background: $accentGradient;
}
.header_bottom__list-mcategory {
  min-width: 76px;
}
.header_bottom__list-mcategory.scrolled {
  a {
    text-decoration: none;
  }
}


.header_bottom__list-category-row.scrolled {
  border-radius: 0px;
  font-size: 14px;
  padding: initial;
  justify-content: center;
  img {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.header-top.scrolled {
  display: none !important;
}

.text-call.scrolled {
  display: none;
}

.header-mid-warpper__list-mini-category-row.scrolled {
  display: none;
}

.header_bottom__content-menu.scrolled {
  display: flex;
  flex-direction: row;
  align-items: center;
  //padding: 5px;

  span {
    height: 27px;
    margin-top: 5px;
  }

  img {
    width: auto;
    height: 20px;
  }

}


@media screen and (max-width: 1236px) {

  /* Hide the div when the viewport is 1036x316 or smaller */
  .header-top__column--contact {
    display: none !important;
  }

}

@media screen and (max-width: 632px) {

  /* Hide the div when the viewport is 1036x316 or smaller */
  .header-mid-warpper__img,
  .header-mid-warpper__cart-contents__order {
    display: none !important;
  }

  .main-container {
    margin-left: 5px;
    margin-right: 5px;

  }

  .header_bottom__list-category-row {
    padding: 10px 10px 10px 10px;
    gap: 0px;
  }

  .header_bottom__content-menu {
    width: 80px;

  }

  .header-top__column--menu__nav-menu {
    justify-content: space-between;
  }


}
