@import "src/app/app.component";
.autocomplete{
    font-family: sans-serif;
    input:focus {
        border-color: white; /* Set the border color when the input is focused to white */
      }
    &__list-search{
        background-color: white;
        border-radius: 5px;
        height: 500px;
        overflow: auto;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    &__data-filter{
        display: flex;
        flex-direction: column;
        padding-top: 5px;
        li{
            list-style: none;
        }
    }
    &__title{

        h3{
            padding-left: 5px;
            background-color: #ececec;
            font-weight: bold;
        }
    }
    &__item{
        display: flex;
        gap: 20px;

        &:hover {
            cursor: pointer;
            background-color: #F7f7f7;
        }
        &__img{
            height: 70px;
            width: 70px;
        }
        &__name{
            font-weight: bold;
        }
        &__price{
            display: flex;
            flex-direction: row;
            gap: 10px;
            @include for-size("phone-sm") {
                flex-direction: column;
            }
        }
        &__discount-price{
            color: #ee7d45;
        }
        &__normal-price{

        }
    }
}
