$primaryColor: #222121;
$secondaryColor: #fb4b4e;
$xiaomiColor: #ED773D;
$accentColor: #b01301;
$accentFirstColor: #ed773d;
$accentGradient: linear-gradient(90deg, $accentColor 0%, $accentFirstColor 100%);
$accentColorOverlay: rgba(176, 19, 1, 0.5);


$light: #f7f7f7;
$dark: #222121;
$orangeRed: #fb4b4e;
$darkGray: #404040;
$headerBackground: #2D2D37;
$blackOverlay: rgba(128, 128, 128, 0.3);
$white: #ffffff;
$black: #000000;
$uploadBackground: rgba(226,232,240,0.25);;
