<h2 mat-dialog-title>{{ categoryId ? "Cập nhật danh mục" : "Thêm mới danh mục" }}</h2>
<mat-dialog-content class="mat-typography">
  <form action="" [formGroup]="form">
    <div class="row">
      <div class="col-md-4">

        <div class="form-group">
          <label for="">Tên danh mục</label>
          <input type="text" class="form-control" formControlName="name">
          <ng-container *ngIf="form.get('name').touched || form.get('name').dirty">
            <ng-container *ngIf="form.get('name').invalid ">
              <span class="text-danger">
                Trường bắt buộc nhập
              </span>
            </ng-container>
          </ng-container>
        </div>

        <div class="form-group">
          <label for="">Tên đầy đủ</label>
          <input type="text" class="form-control" formControlName="full_name">
          <ng-container *ngIf="form.get('full_name').touched || form.get('full_name').dirty">
            <ng-container *ngIf="form.get('full_name').invalid">
              <span class="text-danger">
                Trường bắt buộc nhập
              </span>
            </ng-container>
          </ng-container>
        </div>

        <div class="form-group">
          <label for="">Độ ưu tiên</label>
          <input type="number" class="form-control" formControlName="priority">
          <ng-container *ngIf="form.get('priority').touched || form.get('priority').dirty">
            <ng-container *ngIf="form.get('priority').invalid ">
              <span class="text-danger">
                Trường bắt buộc nhập
              </span>
            </ng-container>
          </ng-container>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="is_advertise_cb" formControlName="is_advertise">
          <label class="form-check-label" for="is_advertise_cb">
            Có quảng cáo ?
          </label>
        </div>

        <div class="form-group">
          <label class="form-label">Hình ảnh quảng cáo trên PC:</label>
          <div class="box-upload">
            <ng-container *ngIf="advertiseImage; else noImageAd">
              <img [src]="advertiseImage" alt="">
            </ng-container>
            <ng-template #noImageAd>
              <p class="hint-text">Tải lên hình ảnh quảng cáo PC</p>
            </ng-template>
            <input type="file" hidden #fileInput2 (change)="onUploadImage($event,0)" accept="image/*">
            <button class="btn btn-default" (click)="fileInput2.click()" matTooltip="Tải ảnh lên">
              <mat-icon>cloud_upload</mat-icon>
            </button>
          </div>

          <ng-container *ngIf="form.get('advertise_image').touched || form.get('advertise_image').dirty">
            <ng-container *ngIf="form.get('is_advertise').value === true">
              <span class="text-danger">
                Vui lòng chọn hình quảng cáo
              </span>
            </ng-container>
          </ng-container>

        </div>

        <div class="form-group">
          <label class="form-label">Hình ảnh quảng cáo trên Mobile:</label>
          <div class="box-upload">
            <ng-container *ngIf="advertiseImageMobile; else noImageMobileAd">
              <img [src]="advertiseImageMobile" alt="">
            </ng-container>
            <ng-template #noImageMobileAd>
              <p class="hint-text">Tải lên hình ảnh quảng cáo Mobile</p>
            </ng-template>
            <input type="file" hidden #fileInput4 (change)="onUploadImage($event,3)" accept="image/*">
            <button class="btn btn-default" (click)="fileInput4.click()" matTooltip="Tải ảnh lên">
              <mat-icon>cloud_upload</mat-icon>
            </button>
          </div>

          <ng-container *ngIf="form.get('advertise_image').touched || form.get('advertise_image').dirty">
            <ng-container *ngIf="form.get('is_advertise').value === true">
              <span class="text-danger">
                Vui lòng chọn hình quảng cáo
              </span>
            </ng-container>
          </ng-container>

        </div>

        <div class="form-group">
          <label class="form-label">Hình ảnh thông tin</label>
          <div class="box-upload">
            <ng-container *ngIf="infoImage; else noImageInfo">
              <img [src]="infoImage" alt="">
            </ng-container>
            <ng-template #noImageInfo>
              <p class="hint-text">Tải lên hình ảnh thông tin</p>
            </ng-template>
            <input type="file" hidden #fileInput3 (change)="onUploadImage($event,1)" accept="image/*">
            <button class="btn btn-default" (click)="fileInput3.click()" matTooltip="Tải ảnh lên">
              <mat-icon>cloud_upload</mat-icon>
            </button>
          </div>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="is_popular_cb" formControlName="is_popular">
          <label class="form-check-label" for="is_popular_cb">
            Có nổi bật hay không ?
          </label>
        </div>

        <div class="form-group">
          <label class="form-label">Hình ảnh nổi bật</label>
          <div class="box-upload">
            <ng-container *ngIf="popularImage; else noImagePopular">
              <img [src]="popularImage" alt="">
            </ng-container>
            <ng-template #noImagePopular>
              <p class="hint-text">Tải lên hình ảnh nổi bật </p>
            </ng-template>
            <input type="file" hidden #fileInput1 (change)="onUploadImage($event,2)" accept="image/*">
            <button class="btn btn-default" (click)="fileInput1.click()" matTooltip="Tải ảnh lên">
              <mat-icon>cloud_upload</mat-icon>
            </button>
          </div>

          <ng-container *ngIf="form.get('avatar').touched || form.get('avatar').dirty">
            <ng-container *ngIf="form.get('is_popular').value === true">
              <span class="text-danger">
                Vui lòng chọn hình ảnh nổi bật
              </span>
            </ng-container>
          </ng-container>

        </div>


      </div>
      <div class="col-md-8">
        <label class="form-label">Nội dung</label>
        <div class="NgxEditor__Wrapper w-100">
<!--          <quill-editor class="w-100" [modules]="quillEditorModules" formControlName="content">-->
<!--          </quill-editor>-->
          <div id="editor" class="w-100"
               formControlName="content"
               style="height: 60vh; backgroundColor: #faf8f8;"
          >
          </div>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="button-group d-flex gap-2">

    <ng-container *ngIf="categoryId">
      <button mat-raised-button color="warn" (click)="onAssignProduct()" matTooltip="Gán sản phẩm">
        <mat-icon>add</mat-icon>
        Gán sản phẩm
      </button>
    </ng-container>

    <button mat-raised-button color="primary" (click)="onSave()" matTooltip="Lưu danh mục">
      <mat-icon>save</mat-icon>
      Lưu
    </button>

    <button mat-raised-button mat-dialog-close matTooltip="Hủy bỏ">
      <mat-icon>close</mat-icon>
      Hủy bỏ
    </button>
  </div>
</mat-dialog-actions>
