<div style="" class="slider-bar__avatar">
    <div class="pc-mode">
        <p-carousel [value]="listImg" [autoplayInterval]="5000" [circular]="true" [showNavigators]="!isPhoneSm" [showIndicators]="true">
            <ng-template let-listImg pTemplate="item">
                <div class="item-img" >
                    <img style="border-radius: 10px;" [src]="listImg" class="d-block w-100" (click)="goToCategory(listImg)">
                </div>
            </ng-template>
        </p-carousel>
    </div>
    <div class="mobile-mode">
        <p-carousel [value]="listImg" [autoplayInterval]="5000" [circular]="true" [showNavigators]="false" [showIndicators]="true">
            <ng-template let-iteImage pTemplate="item">
                <div class="item-img" >
                    <img style="border-radius: 10px;" [src]="iteImage" class="d-block w-100" (click)="goToCategory(iteImage)">
                </div>
            </ng-template>
        </p-carousel>
    </div>
</div>
