<div class="filter-product">
  <div class="card shadow">
    <div class="filter-product__specs" *ngIf="specs?.length > 0">
      <div class="filter-product__specs--item" *ngFor="let spec of specs">
        <div class="item" (click)="toggleSelection(spec)" [class.selected]="isSelected(spec)">
          {{ spec }}
        </div>
      </div>
    </div>
    <div class="filter-product__filter-common">
      <h1>Sắp xếp</h1>
      <div class="filter-product__common">
        <div class="item" (click)="filter('seeMost')" [class.selected]="isSeeMostCheck">Xem nhiều</div>
        <div class="item" (click)="filter('saleMost')" [class.selected]="isSaleMostCheck">Khuyến Mãi</div>
        <!-- Assuming this is where you want to handle selecting a brand -->
      </div>
    </div>
  </div>
</div>
