@import "../../../app.component";
.breadcrumb {

  padding-right: 5px;
  font-family: sans-serif;

  a {
    text-decoration: none;
  }

  &__not-final {
    color: $accentColor;
    padding-right: 10px;
  }

  &__final {
    color: black;
  }
}
