<div class="order-status">
    <app-slide-product [advertiseCategories]="advertiseCategories"> </app-slide-product>
    <div class="order-status__find-order">
        <div class="order-status__find-order__status card shadow">
            <h3 class="order-status__find-order__title">Để tra cứu tình trạng đơn hàng của bạn, xin vui lòng nhập số
                điện thoại của bạn vào ô dưới đây và nhấn nút “Tra cứu”</h3>
            <div class="order-status__find-order__input_phone">
                <input class="order-status__find-order__input_phone_text" [(ngModel)]="inputPhone" type="text"
                    placeholder="Nhập số điện thoại">
                <div class="order-status__find-order__input_phone_button" (click)="findOrder()"><span>Tra cứu</span>
                </div>
            </div>
        </div>
    </div>

    <div class="order-status__order-info">
        <div class="order-status__order-info-contain card shadow" style="padding: 20px;">
            <h2 style="font-weight: bold;font-family: sans-serif;padding: 20px;">Đơn hàng</h2>
            <h4 style="color: red; text-align: center;" *ngIf="orderCustomer?.content?.length == 0  else orderInfo">
                Không có đơn hàng nào liên quan đến số điện thoại</h4>
            <ng-template #orderInfo>
                <div class="order-status__order-info-item" *ngFor="let items of orderCustomer?.content"
                    style="display: flex;flex-direction: column; padding-bottom: 30px;">
                    <!-- Your component's template file (e.g., app.component.html) -->
                    <table style="background-color: white;">
                        <tr style="background-color: #ed773d;">
                            <td colspan="4"
                                style="height: 50px; color: white; font-family: sans-serif;font-weight: bold;">
                                {{items?.id }}&nbsp;<small>{{getStatus(items?.status)}}</small></td>
                        </tr>
                        <tr style="background-color: white;">
                            <td colspan="2">Sản phẩm</td>
                            <td style="width: 100px;height: 50px; text-align: center;">SL</td>
                            <td style="width: 100px;height: 50px; text-align: center;">Tổng</td>
                        </tr>
                        <tr *ngFor="let item of items?.product_order_list">
                            <td style="width: 100px;height: 100px;"><img width="100px"
                                    src="{{item?.product?.images[0]?.path}}"></td>
                            <td>{{item?.product?.name}}</td>
                            <td>{{item?.quantity}}</td>
                            <td style="width: 200px;height: 100px;">{{ ((item?.warranty_type == 1 ? item?.product?.price
                                : item?.product?.price18) * item?.quantity) | CustomeCurrency}} đ</td>
                        </tr>
                    </table>

                </div>
            </ng-template>
        </div>
    </div>
    <div style="display: flex; align-items: center;justify-content: center;">
        <google-map [height]="screenHeight" [width]="screenWidth" [center]="center" [zoom]="zoom" (mapClick)="moveMap($event)"
        (mapMousemove)="move($event)">
        <map-marker *ngFor="let marker of markers" [position]="marker.position" [label]="marker.label"
            [title]="marker.title" [options]="marker.options">
        </map-marker>
    </google-map>
    </div>

</div>
