<div *ngIf="isTokenAvalible">
  <nav class="navbar">

    <a class="navbar__menu--link"*ngIf="role == 'admin'|| role == 'manager' || role == 'employee'" (click)="orderListClick()">Tất cả đơn hàng</a>
    <div class="navbar__bars" (click)="humbergerClick()"><i class="fa fa-bars"></i></div>
    <div class="navbar__menu">
      <a class="navbar__menu--link" [ngClass]="{'active': active == 0}" *ngIf="role == 'admin'|| role == 'manager' || role == 'editor'" (click)="productsClick()">Tất cả sản phẩm</a>
      <a class="navbar__menu--link" [ngClass]="{'active': active == 1}" *ngIf="role == 'admin'|| role == 'manager' || role == 'editor'" (click)="postsClick()">Tất cả tin tức</a>
      <a class="navbar__menu--link" [ngClass]="{'active': active == 2}" *ngIf="role == 'admin'|| role == 'manager' || role == 'editor'" (click)="categorysClick()">Tất cả danh mục</a>
      <a class="navbar__menu--link" [ngClass]="{'active': active == 3}" *ngIf="role == 'admin'|| role == 'manager' || role == 'editor'" (click)="brandClick()">Tất cả thương hiệu</a>
      <a class="navbar__menu--link" [ngClass]="{'active': active == 4}" *ngIf="role == 'admin'|| role == 'manager' || role == 'editor'" (click)="flashsaleClick()">Quản lý FlashSale</a>
      <a class="navbar__menu--link" [ngClass]="{'active': active == 5}" *ngIf="role == 'admin'|| role == 'manager'" (click)="reviewClick()">Quản lý nhận xét</a>
      <a class="navbar__menu--link" [ngClass]="{'active': active == 6}" *ngIf="role == 'admin'|| role == 'manager'"(click)="questionClick()">Quản lý câu hỏi</a>
      <a class="navbar__menu--link" [ngClass]="{'active': active == 7}" *ngIf="role == 'admin'"(click)="userClick()">Quản lý người dùng</a>
      <a class="navbar__menu--link" [ngClass]="{'active': active == 8}" *ngIf="role == 'admin'|| role == 'manager' || role == 'editor'" (click)="settingClick()">Cài đặt chung</a>
      <a class="navbar__menu--link" id="button" (click)="logoutClick()">Đăng xuất</a>
    </div>
  </nav>
  <div class="nav__overlay" [ngClass]="{'animated-nav-overlay': animated}" (click)="animated = false"></div>
  <nav class="nav-mobile" [ngClass]="{'animated-nav-mobile': animated}">
    <div class="nav-mobile__menu">
      <a class="navbar__menu--link" (click)="productsClick()">Tất cả sản phẩm</a>
      <a class="navbar__menu--link" (click)="postsClick()">Tất cả tin tức</a>
      <a class="navbar__menu--link" (click)="categorysClick()">Tất cả danh mục</a>
      <a class="navbar__menu--link" *ngIf="role == 'admin'|| role == 'manager'" (click)="orderListClick()">Tất cả đơn hàng</a>
      <a class="navbar__menu--link" id="buttonMobile" (click)="logoutClick()">Đăng xuất</a>
    </div>
  </nav>
</div>
