@import "src/app/app.component";
.all-category {
  background: $accentGradient;
  margin-left: 20%;
  position: absolute;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  @include for-size("phone-sm") {
      display: none;
  }

  .categorie {
      width: fit-content;
      padding: 20px;

      .categoryBar__item {
          padding: 5px;
          cursor: pointer;
          transition: transform 0.3s;

          &:hover {
              transform: scaleX(1.2);
          }
      }
  }
}

