<div class="search-product"  *ngIf="listProducts != null; else loading">
    <div class="search-product__result-product">

        <div class="search-product__title">
            <h1>Tìm thấy
                <span class="search-product__need-bold" style="font-weight: bold;">{{listProducts.length}}</span>
                kết quả cho
                "<span class="search-product__need-bold" style="font-weight: bold;">{{userInput}}</span>"
            </h1>
        </div>

        <div class="product-container">
            <div class="search-product_product-row">
                <app-product-item class="search-product_product-row__item" *ngFor="let product of listProducts"
                    [product]="product" [isListProduct]="true"></app-product-item>
            </div>
        </div>
    </div>
</div>

<ng-template #loading>
  <app-loading-screen style="width: 100%; height: 700px"></app-loading-screen>
</ng-template>
