.img-box {
  width: auto;
  height: 150px;
  display: flex;
  img {
    height: 100%;
    width: auto;
    display: block;
  }
}

.mat-column-image_info {
  width: 300px;
  max-width: 300px;
}

.mat-column-actions,
.mat-column-is_active {
  width: 120px;
  max-width: 120px;
}

.mat-column-check {
  width: 80px;
  max-width: 80px;
}

:host ::ng-deep {
  mat-slide-toggle {
    .mdc-switch__icons {
      display: none !important;
    }
    .mdc-switch:enabled .mdc-switch__shadow {
      box-shadow: #00a67e;
    }
  }
  .mat-mdc-slide-toggle.mat-accent {
    --mdc-switch-selected-focus-state-layer-color: #00a67e;
    --mdc-switch-selected-handle-color: #00a67e;
    --mdc-switch-selected-hover-state-layer-color: #00a67e;
    --mdc-switch-selected-pressed-state-layer-color: #00a67e;
    --mdc-switch-selected-focus-handle-color: #134439;
    --mdc-switch-selected-hover-handle-color: #134439;
    --mdc-switch-selected-pressed-handle-color: #134439;
    --mdc-switch-selected-focus-track-color: #73ddc4;
    --mdc-switch-selected-hover-track-color: #73ddc4;
    --mdc-switch-selected-pressed-track-color: #73ddc4;
    --mdc-switch-selected-track-color: #73ddc4;
  }
}
::ng-deep {
  .mdc-checkbox__ripple,
  .mat-mdc-checkbox-ripple {
    opacity: 0 !important;
    display: none !important;
  }
}
