<h2 mat-dialog-title>Gán sản phẩm cho Sự kiện: <b>{{dialogData.name}}</b></h2>

<mat-dialog-content class="mat-typography">

  <div class="form-group" >
    <label for="">Tìm kiếm</label>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Tìm kiếm theo tên sản phẩm" [(ngModel)]="keySearch"
        (keyup.enter)="onSeachChange()">
      <span class="input-group-text" (click)="onSeachChange()"><mat-icon>search</mat-icon></span>
    </div>
  </div>

  <table mat-table [dataSource]="dataSource">

    <!-- Check Column -->
    <ng-container matColumnDef="check">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox [(ngModel)]="isAllChecked" (ngModelChange)="onCheckAll($event)"></mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox [(ngModel)]="element.is_assigned" (ngModelChange)="onCheckChange()"></mat-checkbox>
      </td>
    </ng-container>

    <!-- Image Info Column -->
    <ng-container matColumnDef="image_info">
      <th mat-header-cell *matHeaderCellDef> Hình Ảnh </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element?.images?.[0]?.path">
          <div class="img-box">
            <img [src]="element?.images?.[0]?.path ? element?.images?.[0]?.path : './assets/icon/placeholder.svg'" alt="">
          </div>
        </ng-container>
      </td>
    </ng-container>

    <!-- Product Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Tên Sản Phẩm </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Product Category Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Giá Tiền (VND) </th>
      <td mat-cell *matCellDef="let element"> {{ element.priceFormatted }} </td>
    </ng-container>

    <!-- Product Category Column -->
    <ng-container matColumnDef="list_price">
      <th mat-header-cell *matHeaderCellDef> Giá tiền (VND) </th>
      <td mat-cell *matCellDef="let element"> {{ element.listPriceFormatted }} </td>
    </ng-container>

    <!-- Stock Column -->
    <ng-container matColumnDef="stock">
      <th mat-header-cell *matHeaderCellDef> Số Lượng Còn Lại </th>
      <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
    </ng-container>

    <!-- Stock Column -->
    <ng-container matColumnDef="label">
      <th mat-header-cell *matHeaderCellDef> Nhãn </th>
      <td mat-cell *matCellDef="let element"> {{element.label}} </td>
    </ng-container>

    <!-- Stock Column -->
    <ng-container matColumnDef="is_active">
      <th mat-header-cell *matHeaderCellDef> Trạng Thái </th>
      <td mat-cell *matCellDef="let element">
        <mat-slide-toggle [(ngModel)]="element.is_active"></mat-slide-toggle>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator [length]="totalItems" [pageSize]="pageSize" [showFirstLastButtons]="true"
    [pageIndex]="pageIndex" [pageSizeOptions]="[10, 50, 100]" aria-label="Select page" (page)="onPageChange($event)">
  </mat-paginator>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <div class="button-group d-flex gap-2">
    <button mat-raised-button color="primary" (click)="onSave()">
      <mat-icon>save</mat-icon>
      Lưu
    </button>

    <button mat-raised-button mat-dialog-close>
      <mat-icon>close</mat-icon>
      Hủy bỏ
    </button>
  </div>
</mat-dialog-actions>
