@import "../../../../../app.component";
.progress-container {
    border-radius: 10px;
    position: relative;
    margin: 10px;
    height: 30px; /* Adjust the height as needed */
    background-color: $accentColorOverlay; /* Adjust the background color as needed */
    @include for-size("phone-sm"){
      width: calc(100vw / 3.5);
    }
  }

  .progress-bar {
    height: 100%;
    border-radius: 10px;
    background-color: $accentColor; /* Adjust the progress bar color as needed */
  }

  .progress-text {
    font-weight: bold;
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $light; /* Adjust the text color as needed */
  }
