<div class="newsDetail">
  <div class="newsDetail--header" *ngIf="news!=null">
    <label class="newsDetail--header__title">{{news?.title}}</label>
    <label class="newsDetail--header__time">{{moment(news?.created_date).locale('vi').format('DD MMMM yyyy') }}</label>
    <div class="newsDetail--header__icon">
      <div class="elementor-grid-item">
        <a>
          <img src="assets/img/facebook_round.png">
        </a>
      </div>
      <div class="elementor-grid-item">
        <a>
          <img src="assets/img/twitter.png">
        </a>
      </div>
      <div class="elementor-grid-item">
        <a>
          <img src="assets/img/linkedin.png">
        </a>
      </div>
    </div>
  </div>
  <div class="newsDetail--content">
    <div class="newsDetail--body">
      <div *ngIf="news?.content else isUpdate" [innerHTML]="dynamicHtmlContent"></div>
      <ng-template #isUpdate>
        <div style="text-align: center; font-family: sans-serif; font-size: 16px;width: 100%;" >Sẽ cập nhật trong thời gian tới</div>
      </ng-template>
    </div>
    <div class="newsDetail--nav">
      <span class="newsDetail--nav__title">Tin Tức Liên Quan</span>
      <p *ngIf="newsList==null">Không có tin tức liên quan</p>
      <div class="first-news" *ngIf="newsList!=null" (click)="onNewsClick(newsList?.[0])">
        <img [src]="newsList?.[0]?.image_info.path ? newsList?.[0]?.image_info.path : './assets/icon/placeholder.svg' ">
        <h3><label class="first-news__title">{{newsList?.[0]?.title}}</label></h3>
        <label
          class="first-news__date">{{moment(newsList?.[0]?.created_date).locale('vi').format('DD MMMM yyyy') }}</label>
        <p>{{firstNewsFirstSentence}}</p>
      </div>
      <div *ngFor=" let news of newsList?.slice(1,newsList.length)" (click)="onNewsClick(news)">
        <div class="childNews">
          <img [src]="news.image_info?.path ? news.image_info?.path :  './assets/icon/placeholder.svg'" alt="news.title">
          <div>
            <label class="first-news__sm-title m-2">{{news?.title}}</label>
            <label class="first-news__date m-2">{{moment(news?.created_date).locale('vi').format('DD MMMM yyyy') }}</label>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
