<div class="list-product-seen" style="display: flex;flex-direction: column; gap: 20px;">
    <div class="list-product-seen__advertise card shadow">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-interval="1000">
            <div class="carousel-inner slider-bar__avatar--link">
                <div class="carousel-item" *ngFor="let cat of advertiseCategories, index as i"
                    [ngClass]="{'active': i==0}">
                    <img src="{{cat?.img}}" class="d-block w-100">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <h2>Sản Phẩm Đã Xem</h2>
    <div class="list-product-seen_list card shadow" style="display: flex;flex-direction: row;flex-wrap: wrap; padding: 10px;">
        <h3  style="font-weight: bold;font-family: sans-serif; padding: 10px;" *ngIf="listProducts.length == 0 else showList ">Bạn chưa có xem sản phẩm nào</h3>
        <ng-template #showList >
            <app-product-item class="product-row__item" *ngFor="let product of listProducts"  
            [product]="product" [isListProduct]="true"></app-product-item>
        </ng-template>

    </div>
</div>